<div class="ui one column stackable grid">
    <div class="column">
        <h4 class="ui top attached large header">{{ 'dedi_sylius_seo_plugin.ui.seo'|trans }}</h4>
        <div class="ui attached segment">
            <div class="ui message info">
                <p>{{ 'dedi_sylius_seo_plugin.ui.google_tracking_info'|trans }}</p>
            </div>

            <div class="ui two column stackable grid">
                <div class="column">
                    {{ form_row(form.googleAnalyticsCode) }}
                </div>
                <div class="column">
                    {{ form_row(form.googleTagManagerId) }}
                </div>
            </div>

            <div class="ui hidden divider"></div>

            {{ form_row(form.referenceableContent) }}
        </div>
    </div>
</div>
